API Key and secret

- 5FlPkFBizkmYtyvfql31ie6Ol

- E0yhor3Fvy8IRlR8iPRIzU6gQx6tS0fjyhN2jji1JTlDxMVAnZ

Access token and secret

- 1696734777490173952-CUKOCkUSIC9HG9yIdrSbqF07woehAi

- sxpItHpZuHHQO7rug06mOgeV5RX52QoDrknIrlVxFhIdi

Bearer token

- AAAAAAAAAAAAAAAAAAAAAAVIpwEAAAAAF0iNJBNl6SnNYy6PYsGbTDh4jKs%3DCuBDK7UwJpnKU1u4EWeX8z6bfKX5S08l886iQm9kZRlFeuiRm2

In [16]:
import tweepy

In [58]:
consumer_key = "5FlPkFBizkmYtyvfql31ie6Ol"
consumer_secret = "E0yhor3Fvy8IRlR8iPRIzU6gQx6tS0fjyhN2jji1JTlDxMVAnZ"

access_token = "1696734777490173952-CUKOCkUSIC9HG9yIdrSbqF07woehAi"
access_token_secret = "sxpItHpZuHHQO7rug06mOgeV5RX52QoDrknIrlVxFhIdi"

auth = tweepy.OAuth1UserHandler(
    consumer_key, consumer_secret, access_token, access_token_secret
)

api = tweepy.API(auth)

# If the authentication was successful, this should print the
# screen name / username of the account
print(api.verify_credentials().screen_name)

HaThanhChu96723

In [20]:
search_recent_tweets(query = "twitter data" has:mentions (has:media OR has:links), *, end_time=None, expansions=None, max_results=10, 
                                   media_fields=None, next_token=None, place_fields=None, poll_fields=None, 
                                   since_id=None, sort_order=None, start_time=None, tweet_fields=None, 
                                   until_id=None, user_fields=None)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (3400467074.py, line 1)

In [21]:
import pandas as pd

df = pd.read_csv('2023_march14_march15.csv', names = ['tweetid', 'sentiment'])

df.head()

               tweetid  sentiment
0  1635437012634181633   0.000000
1  1635439537831698432   0.142857
2  1635455886867980288   0.000000
3  1635458402846375936   0.000000
4  1635461005395337216   0.000000

In [22]:
df1 = pd.read_csv('corona_tweets_18.csv', names = ['tweetid', 'sentiment'])

df1.head()

               tweetid  sentiment
0  1246696937471918080        0.0
1  1246696937895665664        0.0
2  1246696938310742016        0.0
3  1246696939116060673        0.5
4  1246696939112013825        0.0

In [12]:
dataframe=df1['tweetid']

dataframe

dataframe.to_csv("ready_corona_tweets_18.csv", index=False, header=None)

https://ieee-dataport.org/open-access/coronavirus-covid-19-tweets-dataset

https://github.com/thepanacealab/covid19_twitter/tree/master

https://www.ncbi.nlm.nih.gov/pmc/articles/PMC7362951/ - SMMT

Crisis transformer

#corona, coronavirus, #coronavirus, covid, #covid, covid19, #covid19, covid-19, #covid-19, sarscov2, #sarscov2, sars cov2, sars cov 2, covid_19, #covid_19, #ncov, ncov, #ncov2019, ncov2019, 2019-ncov, #2019-ncov, pandemic, #pandemic #2019ncov, 2019ncov, quarantine, #quarantine, flatten the curve, flattening the curve, #flatteningthecurve, #flattenthecurve, hand sanitizer, #handsanitizer, #lockdown, lockdown, social distancing, #socialdistancing, work from home, #workfromhome, working from home, #workingfromhome, ppe, n95, #ppe, #n95, #covidiots, covidiots, herd immunity, #herdimmunity, pneumonia, #pneumonia, chinese virus, #chinesevirus, wuhan virus, #wuhanvirus, kung flu, #kungflu, wearamask, #wearamask, wear a mask, vaccine, vaccines, #vaccine, #vaccines, corona vaccine, corona vaccines, #coronavaccine, #coronavaccines, face shield, #faceshield, face shields, #faceshields, health worker, #healthworker, health workers, #healthworkers, #stayhomestaysafe, #coronaupdate, #frontlineheroes, #coronawarriors, #homeschool, #homeschooling, #hometasking, #masks4all, #wfh, wash ur hands, wash your hands, #washurhands, #washyourhands, #stayathome, #stayhome, #selfisolating, self isolating

In [29]:
#$ twarc configure

from twarc import Twarc

consumer_key="5FlPkFBizkmYtyvfql31ie6Ol"
consumer_secret="E0yhor3Fvy8IRlR8iPRIzU6gQx6tS0fjyhN2jji1JTlDxMVAnZ"
access_token="1696734777490173952-CUKOCkUSIC9HG9yIdrSbqF07woehAi"
access_token_secret="sxpItHpZuHHQO7rug06mOgeV5RX52QoDrknIrlVxFhIdi"

t = Twarc(consumer_key, consumer_secret, access_token, access_token_secret)

for tweet in t.hydrate(open('coronatweetids2.xlsx')):
    
    #print(tweet['text'])
    print(tweet['id'])

UnicodeDecodeError: 'charmap' codec can't decode byte 0x9d in position 15: character maps to <undefined>

In [25]:
df2 = pd.read_excel('coronatweetids2.xlsx')

df2.head()

              tweet_id
0  1242953451295748096
1  1242953455418740736
2  1242953456387649536
3  1242953461118799872
4  1242953464080039936

In [4]:
df3.user_location

0                         astroworld
1                       New York, NY
2                   Pewee Valley, KY
3               Stuck in the Middle
4                  Jammu and Kashmir
                     ...
179103               Ilorin, Nigeria
179104                       Ontario
179105                     🇨🇦 Canada
179106                 New York City
179107    Aliwal North, South Africa
Name: user_location, Length: 179108, dtype: object

In [34]:
from IPython.display import clear_output
!pip install twarc #Twarc
!pip install tweepy # Tweepy 3.8.0
!pip install argparse #Argparse 3.2
!pip install xtract #Xtract 0.1 a3
!pip install wget #Wget 3.2
clear_output()

In [36]:
import gzip
import shutil
import os
import wget
import csv
import linecache
from shutil import copyfile
import ipywidgets as widgets
import numpy as np
import pandas as pd

dataset_URL = "https://github.com/thepanacealab/covid19_twitter/blob/master/dailies/2021-01-20/2021-01-20_clean-dataset.tsv.gz?raw=true" #@param {type:"string"}


#Downloads the dataset (compressed in a GZ format)
#!wget dataset_URL -O clean-dataset.tsv.gz
wget.download(dataset_URL, out='clean-dataset.tsv.gz')

#Unzips the dataset and gets the TSV dataset
with gzip.open('clean-dataset.tsv.gz', 'rb') as f_in:
    with open('clean-dataset.tsv', 'wb') as f_out:
        shutil.copyfileobj(f_in, f_out)

#Deletes the compressed GZ file
os.unlink("clean-dataset.tsv.gz")

#Gets all possible languages from the dataset
df = pd.read_csv('clean-dataset.tsv',sep="\t")
lang_list = df.lang.unique()
lang_list= sorted(np.append(lang_list,'all'))
lang_picker = widgets.Dropdown(options=lang_list, value="all")
lang_picker

100% [..........................................................................] 4168582 / 4168582

Dropdown(options=('all', 'am', 'ar', 'bg', 'bn', 'bo', 'ca', 'ckb', 'cs', 'cy', 'da', 'de', 'dv', 'el', 'en', …

In [38]:
filtered_language = lang_picker.value

#If no language specified, it will get all records from the dataset
if filtered_language == "":
  copyfile('clean-dataset.tsv', 'clean-dataset-filtered.tsv')

#If language specified, it will create another tsv file with the filtered records
else:
  filtered_tw = list()
  current_line = 1
  with open("clean-dataset.tsv") as tsvfile:
    tsvreader = csv.reader(tsvfile, delimiter="\t")

    if current_line == 1:
      filtered_tw.append(linecache.getline("clean-dataset.tsv", current_line))

      for line in tsvreader:
        if line[3] == filtered_language:
          filtered_tw.append(linecache.getline("clean-dataset.tsv", current_line))
        current_line += 1

  print('\033[1mShowing first 5 tweets from the filtered dataset\033[0m')
  print(filtered_tw[1:(6 if len(filtered_tw) > 6 else len(filtered_tw))])

  with open('clean-dataset-filtered.tsv', 'w') as f_output:
      for item in filtered_tw:
          f_output.write(item)

Showing first 5 tweets from the filtered dataset
['1351757442653294592\t2021-01-20\t05:04:23\ten\tNULL\n', '1351757444033069056\t2021-01-20\t05:04:23\ten\tNULL\n', '1351757446860083202\t2021-01-20\t05:04:24\ten\tNULL\n', '1351757447619375106\t2021-01-20\t05:04:24\ten\tNULL\n', '1351757448219140105\t2021-01-20\t05:04:24\ten\tNULL\n']

In [39]:
import json
import tweepy
from tweepy import OAuthHandler

# Authenticate
CONSUMER_KEY = "5FlPkFBizkmYtyvfql31ie6Ol" #@param {type:"string"}
CONSUMER_SECRET_KEY = "E0yhor3Fvy8IRlR8iPRIzU6gQx6tS0fjyhN2jji1JTlDxMVAnZ" #@param {type:"string"}
ACCESS_TOKEN_KEY = "1696734777490173952-CUKOCkUSIC9HG9yIdrSbqF07woehAi" #@param {type:"string"}
ACCESS_TOKEN_SECRET_KEY = "sxpItHpZuHHQO7rug06mOgeV5RX52QoDrknIrlVxFhIdi" #@param {type:"string"}

#Creates a JSON Files with the API credentials
with open('api_keys.json', 'w') as outfile:
    json.dump({
    "consumer_key":CONSUMER_KEY,
    "consumer_secret":CONSUMER_SECRET_KEY,
    "access_token":ACCESS_TOKEN_KEY,
    "access_token_secret": ACCESS_TOKEN_SECRET_KEY
     }, outfile)

In [46]:
from IPython.display import clear_output

wget.download('https://raw.githubusercontent.com/thepanacealab/SMMT/master/data_acquisition/get_metadata.py', out='get_metadata.py')

#clear_output()

100% [................................................................................] 7205 / 7205

'get_metadata.py'

In [64]:
!python get_metadata.py -i clean-dataset-filtered.tsv -o hydrated_tweets -k api_keys.json

#clear_output()

Your twitter api credentials are valid.
hydrated_tweets
tab seperated file, using \t delimiter
total ids: 201374
metadata collection complete
creating master json file
currently getting 0 - 100
exception: continuing to zip the file
creating ziped master json file
creating minimized json master file
creating CSV version of minimized json master file

In [51]:
from IPython.display import clear_output


wget.download('https://raw.githubusercontent.com/thepanacealab/SMMT/master/data_preprocessing/parse_json_lite.py', out='parse_json_lite.py')

wget.download('https://raw.githubusercontent.com/thepanacealab/SMMT/master/data_preprocessing/fields.py', out='fields.py')


!pip install emot --upgrade
!pip install emoji --upgrade

#clear_output()

100% [................................................................................] 5156 / 5156Requirement already satisfied: emot in c:\users\tchu0702\lib\site-packages (3.1)
Requirement already satisfied: emoji in c:\users\tchu0702\lib\site-packages (2.8.0)

In [62]:
import random 

no_samples = "1000" #@param {type:"string"}
list_tweets = None

with open("hydrated_tweets_short.json", "r") as myfile:
    list_tweets = list(myfile)

if int(no_samples) > len(list_tweets):
    no_samples = len(list_tweets)

sample = random.sample(list_tweets, int(no_samples))

file = open("sample_data.json", "w")
for i in sample:
  file.write(i)
file.close() #This close() is important

In [63]:
!python parse_json_lite.py sample_data.json p

clear_output()

In [7]:
import pandas as pd

df3 = pd.read_csv('covid19_tweets.csv')

df3.head()

,user_name,user_location,user_description,user_created,user_followers,user_friends,user_favourites,user_verified,date,text,hashtags,source,is_retweet
0,ᏉᎥ☻լꂅϮ,astroworld,wednesday addams as a disney princess keepin i...,2017-05-26 05:46:42,624,950,18775,False,2020-07-25 12:27:21,If I smelled the scent of hand sanitizers toda...,NaN,Twitter for iPhone,False
1,Tom Basile 🇺🇸,"New York, NY","Husband, Father, Columnist & Commentator. Auth...",2009-04-16 20:06:23,2253,1677,24,True,2020-07-25 12:27:17,Hey @Yankees @YankeesPR and @MLB - wouldn't it...,NaN,Twitter for Android,False
2,Time4fisticuffs,"Pewee Valley, KY",#Christian #Catholic #Conservative #Reagan #Re...,2009-02-28 18:57:41,9275,9525,7254,False,2020-07-25 12:27:14,@diane3443 @wdunlap @realDonaldTrump Trump nev...,['COVID19'],Twitter for Android,False
3,ethel mertz,Stuck in the Middle,#Browns #Indians #ClevelandProud #[]_[] #Cavs ...,2019-03-07 01:45:06,197,987,1488,False,2020-07-25 12:27:10,@brookbanktv The one gift #COVID19 has give me...,['COVID19'],Twitter for iPhone,False
4,DIPR-J&K,Jammu and Kashmir,🖊️Official Twitter handle of Department of Inf...,2017-02-12 06:45:15,101009,168,101,False,2020-07-25 12:27:08,25 July : Media Bulletin on Novel #CoronaVirus...,"['CoronaVirusUpdates', 'COVID19']",Twitter for Android,False

- Trigrams wordcloud
- Most popular hashtags
- Count of tweets, graph
- Count of tweet by time of day, graph
- Sentiment average, graph
- Overlay cases
- Overlay stringency index

https://www.kaggle.com/datasets/gpreda/covid19-tweets

https://www.kaggle.com/datasets/arunavakrchakraborty/covid19-twitter-dataset?select=Covid-19+Twitter+Dataset+%28Aug-Sep+2020%29.csv